*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li,
ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.wrapper{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1 1 auto;
}

.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px ;
}

.header{
    padding: 15px 0;
}

.header__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__link{
    margin-right: 20px;
    font-size: 18px;
}

.header__link-active{
    color: red;
}